
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


.text-primary{
    color:rgba(253, 110, 10, 1);

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}
.nav-title{
    font-weight:800;
    font-size:45px;
}

nav ul li{
    list-style:none;
    margin-right:50px;
}
nav ul li a{
    text-decoration:none;
    font-size:20px;
    
}
/* Shared Styles */

.secondary-bg{
    background-color: rgba(255, 248, 243, 1);
}
.section-title{
color: rgba(24, 24, 24, 1);
font-family: Open Sans;
font-style: Bold;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
}

.section-description{
color: rgba(117, 117, 117, 1);
font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.dark-2{
    color:rgba(71,71,71,1);
}

nav ul{
    display:flex;
    align-items:center;
}

.btn-primary{
    /* Group 3 */
width: 120px;
height: 51px;
border-radius: 4px;
background: rgba(253, 110, 10, 1);
color:rgba(255, 255, 255, 1);
border:none;
}

.banner-greetings{
    /* color: rgba(71, 71, 71, 1); */

/* font-family: Open Sans; */
font-style: SemiBold;
font-size: 36px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0%;
text-align: left;
}
.banner-profile-pic{
    /* 1699492_P3OLGJ1 1 */
width: 467px;
/* height: 541px; */
}
.banner{
    display:flex;
    justify-content: space-between;
    margin: 0px 30px 0px  184px;
    
}
.header{
    background-image:url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat:no-repeat;
    background-position:top left, bottom right;
    background-size: 90px, 620px;
}
.banner-title{
    /* Mary Hardy */
width: 400px;
height: 93px;
color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-style: Bold;
font-size: 68px;
font-weight: 700;
line-height: 92px;
letter-spacing: 0%;
text-align: left;
}
.banner-description{
    /* Shot what able cold new see hold.Friendly as an betrayed formerly he. Morning because as to society behaved moments. */
width: 468px;
height: 48px;


font-family: Open Sans;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.btn-contact{
    background: rgba(255, 255, 255, 1);
    color: rgba(253, 110, 10, 1);
    border: 1px solid rgba(253, 110, 10, 1);
    margin-left:20px

}

/* about styles */
main{
      max-width: 1200px;
      margin:0 auto; 
   
}

.about{

    border-radius:10px;
    padding:130px 150px;
    text-align:center;
    margin-top:130px;
}
.item-description{
    color: rgba(117, 117, 117, 1);http://smiledotnet.xyz/

font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
/* text-align: center; */
}
.about-items{
    display:flex;
    justify-content: space-around;
    /* justify-content:space-between;   amr 2 ta div er modhe jaiga kore dibe  */
    
}
.about-content{
    background-color: white;
    padding:50px;
    width:827px;
    height:300px;
}
.skills{
    text-align:center;
    
}
.skills-items{
    display:flex;
    text-align: left;
    justify-content: space-around;


   
    
}
.skill-item{
border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
padding:24px;
/* margin:19px; */
}
.skill-item p {
    width: 230px;
}
.resume{
    text-align:center;
}
.resume-content{
    display:flex;
    text-align: left;
    justify-content: space-between;
    margin-left:25px;
    
}
.resume-content {
    display: flex;
    text-align: left;
    justify-content: space-between;
    
}
hr{
    width:558px;
}
.resume p{
    width: 511px;
}
.footer-content{
    max-width: 1200px;
      margin:0 auto;
    display:flex;
    text-align:center;
    gap:117px;

}
/* ai portion ta amr background er full width niye nibe */
footer{
    margin-top:113px;
    width:100%;
    height:780px;
    background: rgba(255, 248, 243, 1);
}
/* ai portion ta amr full body er margin 0 core dibe jate kono gap na thake */
body {
  margin: 0;
}

.footer-content {
        text-align: left;
        padding-top:130px;
}
.footer-content p{
    width:562px;
}
.message{
display:block;
}
.input input{
    /* Rectangle 16 */
width: 461px;
height: 64px;
    border:none;
padding-top:13px;
padding-left:30px;

}
.input{
    margin-bottom:24px;

}
.input textarea{
    border:none;
    /* Rectangle 16 */
width: 461px;
height: 180px;
border-radius:5px;
padding-top:13px;
padding-left:30px;
}



